/* AddEmployee.css */

:root {
  --form-label-color: #000;
}

[data-theme="dark"] {
  --form-label-color: #fff;
}

[data-theme="light"] {
  --form-label-color: #000;
}

.ant-form-item-label > label {
  color: var(--form-label-color);
}
